*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1em; 
   
}

#begone{

    font-size: 1em;
    padding: 0.8em 1.5em;
    border: none;
    background-color: #52509e;
    color: white;
    border-radius: 0.7em;
    transition: all 0.2s;

}

#begone:hover{

    background-color: #1b14d8;

}

#begone:active{

    background-color: #4e49e0;

}


