.panel{

    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.panel img{

    width: 100%;
    display: none;

}

img.displaySlide{

    display: block;
    animation-name:fade;
    animation-duration: 1s;


}

.panel button{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background-color:hsla(0, 0%, 24%, 0.385) ;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;

}

.next{

    right: 0;

}

.prev{
    left: 0;
}

@keyframes fade{

    from{

        opacity: 0.5;

    }

    to{

        opacity: 1;

    }

}