*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1em;
   
} */

#emj{

    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    position: relative;
    border-radius: 1em;

}


